[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
util = {file = "../util/dist/util-1.0.4-py2.py3-none-any.whl"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
